<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <resource id="Module2_Configuration::configuration" title="Module 2">
                    <resource id="Module2_Configuration::index" title="module2_config" translate="title"
                              sortOrder="100"/>
                </resource>

            </resource>
        </resources>
    </acl>
</config>